.carousel-item{
      background-position: center;
      text-align: center;}
     
 .p{background-color:whitesmoke;
   text-align: justify;}
 .h2{background-color:#343a40;
    width: 320px;
    color: white;
   font-family: 'armata';}
    
 .carousel-inner{background-color: whitesmoke;}
 .site-title{
   font-family:'armata';
    text-align: center;
    background-color: #343a40;
    color: white;
    margin: 0;
    padding-bottom: 10px;
  }




/* Modificari contact.html */


.hr{
   border-color:whitesmoke;
}
.body{  background-color:whitesmoke;
   text-align: center;}
.container
   {text-align: left;}
.mapouter{position:relative;
      margin:auto;
      height:300px;
      width:100%;
      top: 35%;
}
.contact{background-color: #343a40;
color: white;}
      
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:300px;
}
iframe{
  width: 100%;
}
     
     /* editari in modal (contacteaza-ne) */
      body {font-family: Arial, Helvetica, sans-serif;}
      * {box-sizing: border-box;}
      
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      input[type=reset] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      /* Modificari vacante.html */
      .block{
        float:left;
        border:1px solid #ccc;
        padding:10px;
        box-sizing: border-box;  
    }
    .image-container{
      width: 100%;
      height: 380px;
    }
    .adress-container{
      margin: auto;
    }
    .program-container{
      padding-bottom: 50px;
      border-top: 1px solid rgba(0,0,0,.1);
      padding-top: 20px;
    }
    /* Index.html */
    .homepage-descr {
      padding: 20px;
    }
    .description{
      display: flex;
    }
    @media screen and (max-width: 768px){
      .description{
        display: block;
      }
    }
    .oferte-container{
      color: red;
    }